<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" version="2.5"
>
  <display-name>IWoot</display-name>
  <context-param>
    <param-name>org.restlet.application
    </param-name>
    <param-value> org.xwoot.iwoot.restApplication.RestApplication
    </param-value>
  </context-param>

  <!-- Restlet adapter -->
  <servlet>
    <servlet-name>RestletServlet</servlet-name>
    <servlet-class>com.noelios.restlet.ext.servlet.ServerServlet
    </servlet-class>
  </servlet>

  <!-- Catch all rest requests -->
  <servlet-mapping>
    <servlet-name>RestletServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!-- mainboard -->
  <servlet>
    <servlet-name>mainboard</servlet-name>
    <servlet-class>org.xwoot.iwoot.web.Mainboard
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainboard</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- filter -->
  <filter>
    <filter-name>initFilter</filter-name>
    <filter-class>org.xwoot.iwoot.web.InitFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>initFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>